<template>
  <div class="btn-block">
    <div>
        <label for="worth" class="col-form-label">Wat is de waarde van uw woning?</label>
        <div class="form-group">
          <input
            v-model="worth"
            v-on:keyup="enter"
            type="number"
            class="form-control input-form input-form-number"
            id="input1"
            aria-describedby="emailHelp"
            placeholder="285000"
          />
          <div class="row">
              <div class="col-12 buffer-small d-none d-sm-block d-xs-none"></div>
          </div>
          
          <button @click="checkWorthValue(worth)" type="button" class="btn btn-primary btn-block">OK, ga verder</button>
          <div class="colorwarn" v-show="errorMessage!=''">{{errorMessage}}</div>

        </div>
    </div>
  </div>
</template>

<script>
export default {
    data() {
        return {
            worth: 0,
            errorMessage: ''
            }
        },
    methods:
    {
        checkWorthValue(value){
            
            if(value<1000){
                this.errorMessage = "Uw woningwaarde is te laag";
                }
            else if(value > 9999999){
                this.errorMessage = "Uw woningwaarde is te hoog";
            }
            else{
                this.errorMessage = "";
                this.$store.dispatch("VolgendePagina", 200)
                this.$store.dispatch("SetWorth", value)
            }
    
            
            
            
            return this.errorMessage;
        },
        enter(e){
        if (e.keyCode === 13) {
            this.checkWorthValue(this.worth);
        }
        }
    },
    computed:{
//        return this.$store.getters
    }
  
};
</script>

<style scoped>

    .input-form-number{
        text-align: right;
    }
    
    .input-form:focus{
        border: solid 1px teal;
    }

    .buffer-small{
        height: 15px;
    }
    .colorwarn{
        color: red;
    }
 
</style>