<template>
  <div>
    <h2>
      Hoe ziet je huidige hypotheek eruit?
      <br />Voer de verschillende delen op
    </h2>
    <div class="row">
      <input
        type="number"
        v-model="restBedrag"
        v-on:keyup="enter"
        @blur="handleBlur('restbedrag')"
        class="form-control input-form input-form-number button-margin"
        id="inputrest"
        placeholder="285000"
      />
      <div class="colorwarn" v-if="!validRestBedrag">Restbedrag moet worden ingevuld</div>
    </div>
    <div class="row">
      <div class="col-3 padinputleft">
        <input
          type="number"
          v-model="rente"
          v-on:keyup="enter"
          @blur="handleBlur('rente')"
          class="form-control input-form input-form-number"
          id="input2"
          placeholder="%"
        />
        <div class="colorwarn" v-if="!validRente">Invullen verplicht</div>
      </div>
      <div class="col-1"></div>
      <div class="col-8 padinputright">
        <input
          class="form-control input-form"
          v-model="date"
          v-on:keyup="enter"
          @blur="handleBlur('date')"
          id="inputdate"
          type="date"
        />
        <div class="colorwarn" v-if="!validDate">Datum moet worden ingevuld</div>   
      </div>
      <button
        @click="voegtoe()"
        type="button"
        class="btn btn-primary btn-block button-margin"
        v-bind:class="{disabled: !formComplete}"
      >Voeg toe</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      restBedrag: 0,
      rente: 0,
      date: null,
      validRestBedrag: true,
      validRente: true,
      validDate: true
    };
  },
  methods: {
    voegtoe() {
      const leningdeel = {
        openstaandLeenbedrag: this.restBedrag,
        rentePercentage: this.rente,
        einddatumRentevastePeriode: this.date
      };
      this.$store.dispatch("AddLeningDeel", leningdeel);      
      this.$store.dispatch("VolgendePagina", 400);
      this.$store.dispatch("SetAantalLeningdelen"); 
      this.$store.dispatch("SendRequest");
      
    },
    enter(e) {
      if (e.keyCode === 13) {
        if (this.formComplete) {
          this.voegtoe();

        }
      }
    },
    handleBlur(fieldname) {
        this.validRestBedrag = true;
        this.validRente = true;
        this.validDate = true;
      if (!this.restBedrag && fieldname == 'restbedrag') {
        this.validRestBedrag = false;
        
      }
      if (!this.rente && fieldname == 'rente') {
        this.validRente = false;
      }
      if (!this.date && fieldname == 'date') {
        this.validDate = false;
        
      }
    }
  },

  computed: {
    formComplete() {
      return this.restBedrag && this.rente && this.date;
    },
    leningDelen(){
      return this.$store.getters.returnLeningdelen;
    }
  }
};
</script>

<style scoped>
.padinputleft {
  padding-left: 0;
}
.padinputright {
  padding-right: 0;
}

.button-margin {
  margin: 10px 0px;
}

.colorwarn{
    color: red;
    margin-top: -10px;
}
</style>