<template>
  <div class="gradient">
    <div class="h">Bereken je mogelijkheden</div>
    <div>
      <span v-if="pageNumber > 100" class="icon-sy-tools-tasklist"></span>
      <span v-else class="icon-sy-form-checkbox"></span>
      <span>Waarde van je woning</span>
    </div>
    <div>
      <span v-if="pageNumber > 200" class="icon-sy-tools-tasklist"></span>
      <span v-else class="icon-sy-form-checkbox"></span>
      <span>Heb je NHG</span>
    </div>
    <div>
      <span class="icon-sy-form-checkbox">Huidige hypotheek</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "mogelijkheden",
  computed: {
    pageNumber() {
      return this.$store.getters.returnPageValue;
    }
  }
};
</script>

<style>
.gradient {
  background: linear-gradient(180deg, #005e5d, #00857a);
  color: white;
  padding: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.h {
  color: white;
  font-size: 20px;
}
</style>