<template>
    <div class="choiceHolder">
        <h2>Heeft u NHG?</h2>
        <div @click="NHGchoice(true)" class="option" id="ja">Ja</div>
        <div @click="NHGchoice(false)" class="option" id="nee">Nee</div>
    </div>
</template>

<script>
    export default {
        methods:{
            NHGchoice(choice){
                this.$store.dispatch("SetNHGval", choice)
                this.$store.dispatch("VolgendePagina", 300)
            }
        }
    }
</script>

<style scoped>
    .choiceHolder{
        width: 100%;
    }
    .option{
        width: 140px;
        height: 140px;
        display: inline-block;
        border: 2px solid #e9f0f0;
        text-align: center;
        padding: 60px;
    }

    .option:hover{
        border: 2px solid var(--teal, teal);
    }
</style>