<template>
  <div>
    <div class="row">
      <div class="col-1"></div>
      <div v-if="leningdelen.length > 0" class="col-10 resultTable">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-3 resultHeader"><h2>Hypotheek</h2></div>
          <div class="col-4"></div>
          <div class="col-3"><h2>€ {{leningdelenTotal}}</h2></div>
          <div class="col-1"></div>
        </div>
        <hr>
        <div v-for="(leningdeel, i) in leningdelen" v-bind:key="'hhh'+i">
          <div class="row">
            <div class="col-1"></div>
            <div class="col-3">
              Hypotheek deel {{i+1}}
              <br />Rente
              <br />Looptijd
            </div>
            <div class="col-1"></div>
            <div class="col-3">
              € {{leningdeel.openstaandLeenbedrag}}
              <br />
              {{leningdeel.rentePercentage}}%
              <br />
              {{leningdeel.einddatumRentevastePeriode}}
            </div>
            <div class="col-3">
              <svg @click="deleteLeningdeel(i)" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 72 72">
                <defs>
                  <linearGradient
                    id="pr-trash-trashcan-a"
                    x1="100.322%"
                    x2="-30.322%"
                    y1="28.489%"
                    y2="93.811%"
                  >
                    <stop offset="0%" stop-color="#009796" />
                    <stop offset="100%" stop-color="#005E5D" />
                  </linearGradient>
                  <linearGradient
                    id="pr-trash-trashcan-b"
                    x1="96.84%"
                    x2="26.637%"
                    y1="-3.487%"
                    y2="72.734%"
                  >
                    <stop offset="0%" stop-color="#00C5BC" />
                    <stop offset="100%" stop-color="#009286" />
                  </linearGradient>
                  <linearGradient
                    id="pr-trash-trashcan-c"
                    x1="89.91%"
                    x2="47.91%"
                    y1="47.149%"
                    y2="50.149%"
                  >
                    <stop offset="0%" stop-color="#009796" />
                    <stop offset="100%" stop-color="#005E5D" />
                  </linearGradient>
                  <linearGradient
                    id="pr-trash-trashcan-d"
                    x1="53.288%"
                    x2="45.073%"
                    y1="24.796%"
                    y2="87.774%"
                  >
                    <stop offset="0%" stop-color="#009796" />
                    <stop offset="100%" stop-color="#005E5D" />
                  </linearGradient>
                  <linearGradient id="pr-trash-trashcan-e" x1="0%" y1="50.004%" y2="50.004%">
                    <stop offset="0%" stop-opacity=".05" />
                    <stop offset="100%" stop-opacity=".12" />
                  </linearGradient>
                  <linearGradient
                    id="pr-trash-trashcan-f"
                    x1="89.32%"
                    x2="-12.714%"
                    y1="47.753%"
                    y2="53.584%"
                  >
                    <stop offset="0%" stop-opacity=".05" />
                    <stop offset="100%" stop-opacity=".12" />
                  </linearGradient>
                </defs>
                <g fill="none" transform="translate(9 14)">
                  <path
                    fill="#000"
                    d="M41.262 6.716l-10.474.733c-.22-3.143-2.193-4.859-5.337-4.639l-7.98.558c-3.143.22-4.859 2.193-4.639 5.336l-10.475.733a1.5 1.5 0 0 0 .21 2.993l2.455-.172.046.1.132 1.892.21-.014 4.157 33.792 30.924-2.162-.586-34.042.21-.015-.14-2 1.5-.105a1.5 1.5 0 0 0-.21-2.993l-.003.005zM17.68 6.361l7.981-.558A2 2 0 0 1 27.8 7.658L15.824 8.5a2.006 2.006 0 0 1 1.856-2.139z"
                    opacity=".08"
                  />
                  <path
                    fill="url(#pr-trash-trashcan-a)"
                    d="M31 3.035a2.006 2.006 0 0 1 2 2v4H21v-4a2.006 2.006 0 0 1 2-2h8zm0-3h-8c-3.151 0-5 1.849-5 5v4h18v-4c0-3.151-1.849-5-5-5z"
                  />
                  <polygon
                    fill="url(#pr-trash-trashcan-b)"
                    points="44.996 6.035 9.996 6.035 11.996 44.035 42.996 44.035"
                  />
                  <polygon
                    fill="#009286"
                    points="44.996 6.035 9.996 6.035 11.725 38.306"
                    opacity=".3"
                  />
                  <rect
                    width="42"
                    height="3"
                    x="5.996"
                    y="5.035"
                    fill="url(#pr-trash-trashcan-c)"
                    rx="1.5"
                  />
                  <rect
                    width="3"
                    height="23"
                    x="18.996"
                    y="15.035"
                    fill="url(#pr-trash-trashcan-d)"
                    rx="1.5"
                  />
                  <rect
                    width="3"
                    height="23"
                    x="25.996"
                    y="15.035"
                    fill="url(#pr-trash-trashcan-d)"
                    rx="1.5"
                  />
                  <polygon
                    fill="url(#pr-trash-trashcan-e)"
                    points="41.996 8.035 32.5 8.035 14.176 8.035 9.957 8.035 14.079 19.032 17.74 17.603 19.079 21.032 41.996 12.035"
                  />
                  <rect
                    width="3"
                    height="23"
                    x="32.996"
                    y="15.035"
                    fill="url(#pr-trash-trashcan-d)"
                    rx="1.5"
                  />
                  <polygon
                    fill="#FFD200"
                    points="18.74 14.603 16.176 8.035 11.957 8.035 15.079 16.032"
                  />
                  <polygon
                    fill="#FFD200"
                    points="41.996 8.035 34.5 8.035 16.176 8.035 18.74 14.603 20.079 18.032 41.996 10.035"
                  />
                  <polygon
                    fill="#000"
                    points="18.74 14.603 16.176 8.035 11.957 8.035 15.079 16.032"
                    opacity=".2"
                  />
                  <rect width="35" height="2" x="9.996" y="8.035" fill="url(#pr-trash-trashcan-f)" />
                </g>
              </svg>
            </div>
            <div class="col-1"></div>
          </div>
          <hr />
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    deleteLeningdeel(i){
      this.$store.dispatch("SendRequest");
      this.leningdelen.splice(i,1);
    }
  },
  computed: {
    leningdelen() {
      return this.$store.getters.returnLeningdelen;
    },
    leningdelenTotal(){
      let temp = 0;
      for(let i = 0; i < this.leningdelen.length; i++){
        temp += Number(this.leningdelen[i].openstaandLeenbedrag);
      }
      return temp;
    }
  }
};
</script>

<style scoped>
.resultTable {
  background-color: white;
}
</style>
