<template>
  <div>
      <div class="gradient">
    <div class="h">Uw nieuwe hypotheek</div>
    <div>€ {{requestResponse.nieuweHypotheek}}</div>
    <div class="row">
      <div class="col-6">
        Vergoeding
        <br />
        € {{requestResponse.financieringsKosten.vergoeding}}
      </div>
      <div class="col-6">
        Terugverdientijd
        <br />
        {{requestResponse.terugverdienTijd}} maanden
      </div>
    </div>

    <div v-if="uitschuif===false" @click="uitschuiven()" class="pointer">
      Meer details
      <svg
        class="pad"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          fill="#ffffff"
          fill-rule="evenodd"
          d="M10.573 14.993l-4.278-4.274a1.007 1.007 0 1 1 1.427-1.425L12 13.569l4.277-4.275a1.013 1.013 0 0 1 1.426 0c.396.393.396 1.03 0 1.425l-4.278 4.274-.712.712a1.009 1.009 0 0 1-1.427 0l-.713-.712z"
        />
      </svg>
    </div>
     <div v-if="uitschuif===true">
        <div @click="uitschuiven()" class="pointer">
          Details verbergen
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              fill="#ffffff"
              fill-rule="evenodd"
              d="M13.427 10.007l4.278 4.274a1.007 1.007 0 1 1-1.427 1.425L12 11.431l-4.277 4.275a1.013 1.013 0 0 1-1.426 0 1.004 1.004 0 0 1 0-1.425l4.278-4.274.712-.712a1.009 1.009 0 0 1 1.427 0l.713.712z"
            />
          </svg>
        </div>
      </div>
      </div>
    <transition name="slide">
      <div v-if="uitschuif===true">
        <div class="bg">
          <div>Hypotheekgegevens</div>
          <div>Woningwaarde: € {{verzoek.marktwaardeWoning}}</div>
          <div>
            NHG:
            <span v-if="verzoek.heeftNhg === true">Ja</span>
            <span v-else>Nee</span>
          </div>
          <div>Oversluitkosten: € {{requestResponse.oversluitKosten}}</div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  data() {
    return {
      uitschuif: false
    };
  },
  methods: {
    uitschuiven() {
      this.uitschuif = !this.uitschuif;
    }
  },
  computed: {
    requestResponse() {
      return this.$store.getters.returnResponse;
    },
    verzoek() {
      return this.$store.getters.returnverzoek;
    }
  }
};
</script>

<style scoped>
.slide-enter-active {
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.slide-leave-active {
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.bg {
  background-color: white;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}
.slide-enter-to,
.slide-leave {
  max-height: 100px;
  overflow: hidden;
}

.slide-enter,
.slide-leave-to {
  overflow: hidden;
  max-height: 0;
}

.pad {
  padding-bottom: 0px;
}

</style>