<template>
    <p @click="prevPage">&lt;Vorige</p>
</template>

<script>
export default {
    methods:{
    prevPage(){
      const currentpage = this.$store.getters.returnPageValue;
      this.$store.dispatch("VolgendePagina", currentpage - 100);
    }
  }
}
</script>

<style>

</style>