
<template>
  <div class="btn-block">
    <div class="overlay" v-if="showPopup">
      <div class="popup-tile" id="popup-tile">
        <div class="no-gutters rounded-top rounded-bottom bg-white p-3 em-tile">
          <div class="row">
            <div class="col-1">
              <svg
                id="Layer_8_copy"
                data-name="Layer 8 copy"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
              >
                <title>systemicons-emerald-v1.02-MSI</title>
                <path
                  fill="#00716B"
                  d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm1,14.469a1,1,0,0,1-2,0v-6a1,1,0,0,1,2,0ZM12,8a1,1,0,1,1,1-1A1,1,0,0,1,12,8Z"
                />
              </svg>
            </div>
            <div class="col-10"></div>
            <div @click="ShowPopup()" class="col-1">x</div>
          </div>
          <div class="row">
            Waarom vragen we je leeftijd?
            Om te bepalen wanneer je waarschijnlijk met pensioen gaat. Meestal gaat je inkomen daarna namelijk wat omlaag.
          </div>
        </div>
      </div>
    </div>
    <div class="em-shadow-tile">
       <div  @click="ShowPopup()"
        class=" no-gutters rounded-top bg-white em-tile p-3 position-relative btn-block"
        tabindex="0"
      >Hoe ontdek ik wat de waarde van mijn woning is?</div>
    </div>
  </div>
</template>

<script>
import * as $ from "jquery";

export default {
  data() {
    return {
      showPopup: false
    };
  },
  methods: {
    ShowPopup() {
      this.showPopup = !this.showPopup;
    }
  },
  mounted() {
    $(document).mouseup(e => {
      const container = $("#popup-tile");
      if (!container.is(e.target) && container.has(e.target).length === 0) {
        this.showPopup = false;
      }
    });
  }
};
</script>

<style>
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.popup-tile {
  color: black;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.bre{
  width: 100%
}
</style>