@font-face {
  font-family: 'abn-emerald';
  src: url('../font/abn-emerald.eot?12655644');
  src: url('../font/abn-emerald.eot?12655644#iefix') format('embedded-opentype'),
       url('../font/abn-emerald.woff2?12655644') format('woff2'),
       url('../font/abn-emerald.woff?12655644') format('woff'),
       url('../font/abn-emerald.ttf?12655644') format('truetype'),
       url('../font/abn-emerald.svg?12655644#abn-emerald') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'abn-emerald';
    src: url('../font/abn-emerald.svg?12655644#abn-emerald') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "abn-emerald";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-calendar-outlilne:before { content: '\e800'; } /* '' */
.icon-sy-account-accountlist:before { content: '\e801'; } /* '' */
.icon-sy-account-accounts:before { content: '\e802'; } /* '' */
.icon-sy-account-adressbook:before { content: '\e803'; } /* '' */
.icon-sy-account-block:before { content: '\e804'; } /* '' */
.icon-sy-account-cards:before { content: '\e805'; } /* '' */
.icon-sy-account-creditcard:before { content: '\e806'; } /* '' */
.icon-sy-account-debitcard:before { content: '\e807'; } /* '' */
.icon-sy-account-logout:before { content: '\e808'; } /* '' */
.icon-sy-account-personaldetails:before { content: '\e809'; } /* '' */
.icon-sy-account-switchaccounts:before { content: '\e80a'; } /* '' */
.icon-sy-account-transactions:before { content: '\e80b'; } /* '' */
.icon-sy-account-transactionspending:before { content: '\e80c'; } /* '' */
.icon-sy-account-transactionsrejected:before { content: '\e80d'; } /* '' */
.icon-sy-arrow-arrow-left:before { content: '\e80e'; } /* '' */
.icon-sy-arrow-arrow-leftlarge:before { content: '\e80f'; } /* '' */
.icon-sy-arrow-arrow-right:before { content: '\e810'; } /* '' */
.icon-sy-arrow-arrow-rightlarge:before { content: '\e811'; } /* '' */
.icon-sy-arrow-change:before { content: '\e812'; } /* '' */
.icon-sy-arrow-chevron-down:before { content: '\e813'; } /* '' */
.icon-sy-arrow-chevron-left:before { content: '\e814'; } /* '' */
.icon-sy-arrow-chevron-right:before { content: '\e815'; } /* '' */
.icon-sy-arrow-chevron-rightlarge:before { content: '\e816'; } /* '' */
.icon-sy-arrow-chevron-up:before { content: '\e817'; } /* '' */
.icon-sy-arrow-contract:before { content: '\e818'; } /* '' */
.icon-sy-arrow-decrease:before { content: '\e819'; } /* '' */
.icon-sy-arrow-download:before { content: '\e81a'; } /* '' */
.icon-sy-arrow-expand:before { content: '\e81b'; } /* '' */
.icon-sy-arrow-external-link:before { content: '\e81c'; } /* '' */
.icon-sy-arrow-externallink:before { content: '\e81d'; } /* '' */
.icon-sy-arrow-increase:before { content: '\e81e'; } /* '' */
.icon-sy-arrow-refresh:before { content: '\e81f'; } /* '' */
.icon-sy-arrow-reload:before { content: '\e820'; } /* '' */
.icon-sy-arrow-upload:before { content: '\e821'; } /* '' */
.icon-sy-authentication-faceid:before { content: '\e822'; } /* '' */
.icon-sy-authentication-touchid:before { content: '\e823'; } /* '' */
.icon-sy-chart-bargraph:before { content: '\e824'; } /* '' */
.icon-sy-chart-piechart:before { content: '\e825'; } /* '' */
.icon-sy-arrow-chevron-leftlarge:before { content: '\e826'; } /* '' */
.icon-sy-contact-feedback:before { content: '\e827'; } /* '' */
.icon-sy-contact-helpdesk:before { content: '\e828'; } /* '' */
.icon-sy-contact-mail:before { content: '\e829'; } /* '' */
.icon-sy-contact-mobileconformation:before { content: '\e82a'; } /* '' */
.icon-sy-contact-mobiledevice:before { content: '\e82b'; } /* '' */
.icon-sy-contact-mobiledevices:before { content: '\e82c'; } /* '' */
.icon-sy-contact-reply:before { content: '\e82d'; } /* '' */
.icon-sy-contact-telephone:before { content: '\e82e'; } /* '' */
.icon-sy-datetime-calender:before { content: '\e82f'; } /* '' */
.icon-sy-datetime-calenderappointment:before { content: '\e830'; } /* '' */
.icon-sy-datetime-clock:before { content: '\e831'; } /* '' */
.icon-sy-datetime-tasksucces:before { content: '\e832'; } /* '' */
.icon-sy-datetime-timetravel:before { content: '\e833'; } /* '' */
.icon-sy-emoticon-neutral:before { content: '\e834'; } /* '' */
.icon-sy-emoticon-sad:before { content: '\e835'; } /* '' */
.icon-sy-emoticon-smiley:before { content: '\e836'; } /* '' */
.icon-sy-form-checkbox:before { content: '\e837'; } /* '' */
.icon-sy-form-document-add:before { content: '\e838'; } /* '' */
.icon-sy-form-document-ok:before { content: '\e839'; } /* '' */
.icon-sy-form-document:before { content: '\e83a'; } /* '' */
.icon-sy-form-documenterror:before { content: '\e83b'; } /* '' */
.icon-sy-form-paperstop:before { content: '\e83c'; } /* '' */
.icon-sy-form-valid:before { content: '\e83d'; } /* '' */
.icon-sy-logos-android:before { content: '\e83e'; } /* '' */
.icon-sy-logos-ios:before { content: '\e83f'; } /* '' */
.icon-sy-logos-pdf:before { content: '\e840'; } /* '' */
.icon-sy-logos-pin:before { content: '\e841'; } /* '' */
.icon-sy-navigation-directions:before { content: '\e842'; } /* '' */
.icon-sy-navigation-location:before { content: '\e843'; } /* '' */
.icon-sy-notification-info:before { content: '\e844'; } /* '' */
.icon-sy-notification-negative:before { content: '\e845'; } /* '' */
.icon-sy-notification-positive:before { content: '\e846'; } /* '' */
.icon-sy-notification-privacy:before { content: '\e847'; } /* '' */
.icon-sy-notification-warning:before { content: '\e848'; } /* '' */
.icon-sy-others-blocked:before { content: '\e849'; } /* '' */
.icon-sy-others-company:before { content: '\e84a'; } /* '' */
.icon-sy-others-dot:before { content: '\e84b'; } /* '' */
.icon-sy-others-info-solid:before { content: '\e84c'; } /* '' */
.icon-sy-others-info:before { content: '\e84d'; } /* '' */
.icon-sy-others-safety:before { content: '\e84e'; } /* '' */
.icon-sy-others-shoppingcart:before { content: '\e84f'; } /* '' */
.icon-sy-others-tag:before { content: '\e850'; } /* '' */
.icon-sy-others-tagsearch:before { content: '\e851'; } /* '' */
.icon-sy-others-wearables:before { content: '\e852'; } /* '' */
.icon-sy-profile-add:before { content: '\e853'; } /* '' */
.icon-sy-profile-change:before { content: '\e854'; } /* '' */
.icon-sy-profile-cosign:before { content: '\e855'; } /* '' */
.icon-sy-profile-delete:before { content: '\e856'; } /* '' */
.icon-sy-profile-employee:before { content: '\e857'; } /* '' */
.icon-sy-profile-family:before { content: '\e858'; } /* '' */
.icon-sy-profile-profile:before { content: '\e859'; } /* '' */
.icon-sy-shapes-close-large:before { content: '\e85a'; } /* '' */
.icon-sy-shapes-minus-large:before { content: '\e85b'; } /* '' */
.icon-sy-shapes-moreoptions:before { content: '\e85c'; } /* '' */
.icon-sy-shapes-pending:before { content: '\e85d'; } /* '' */
.icon-sy-shapes-plus-large:before { content: '\e85e'; } /* '' */
.icon-sy-tools-alert-solid:before { content: '\e85f'; } /* '' */
.icon-sy-tools-alert:before { content: '\e860'; } /* '' */
.icon-sy-tools-archive:before { content: '\e861'; } /* '' */
.icon-sy-tools-bell:before { content: '\e862'; } /* '' */
.icon-sy-tools-buildone:before { content: '\e863'; } /* '' */
.icon-sy-tools-buildthree:before { content: '\e864'; } /* '' */
.icon-sy-tools-buildtwo:before { content: '\e865'; } /* '' */
.icon-sy-tools-calculator:before { content: '\e866'; } /* '' */
.icon-sy-tools-camera:before { content: '\e867'; } /* '' */
.icon-sy-tools-constellation:before { content: '\e868'; } /* '' */
.icon-sy-tools-edentifier:before { content: '\e869'; } /* '' */
.icon-sy-tools-edentifieradd:before { content: '\e86a'; } /* '' */
.icon-sy-tools-filter:before { content: '\e86b'; } /* '' */
.icon-sy-tools-gauge:before { content: '\e86c'; } /* '' */
.icon-sy-tools-linked-item:before { content: '\e86d'; } /* '' */
.icon-sy-tools-linked:before { content: '\e86e'; } /* '' */
.icon-sy-tools-lock-solid:before { content: '\e86f'; } /* '' */
.icon-sy-tools-lock:before { content: '\e870'; } /* '' */
.icon-sy-tools-microphone:before { content: '\e871'; } /* '' */
.icon-sy-tools-pencil:before { content: '\e872'; } /* '' */
.icon-sy-tools-qrcode:before { content: '\e873'; } /* '' */
.icon-sy-tools-scan:before { content: '\e874'; } /* '' */
.icon-sy-tools-search:before { content: '\e875'; } /* '' */
.icon-sy-tools-selfservice:before { content: '\e876'; } /* '' */
.icon-sy-tools-settings:before { content: '\e877'; } /* '' */
.icon-sy-tools-star:before { content: '\e878'; } /* '' */
.icon-sy-tools-tasklist:before { content: '\e879'; } /* '' */
.icon-sy-tools-trash:before { content: '\e87a'; } /* '' */
.icon-sy-tools-unlock:before { content: '\e87b'; } /* '' */
.icon-sy-tools-volume:before { content: '\e87c'; } /* '' */
.icon-sy-tools-volumeon:before { content: '\e87d'; } /* '' */