:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #f60;
    --yellow: #ffc107;
    --green: #00857a;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #f3c000;
    --secondary: #6c757d;
    --success: #00857a;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #37aba1;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

/*

.coooleclasse{
    background-color: var(--teal, yellow);
}

*/