<template>
  <div class="home">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-1">	
        <vorige v-if="pageValue >'100'" class="previous"></vorige>
      </div>
      <div class="col-4">
        <div class="row buffer">
        </div>
        <div v-if="pageValue == '100'" class="row">
          <HotInvoer></HotInvoer>
        </div>
        <div v-if="pageValue == '200'" class="row">
          <Nhg></Nhg>
        </div>
        <div v-if="pageValue >= '300'">
          <hypotheekdelen></hypotheekdelen>
        </div>
        <div class="row">
          <WoningWaardePopup></WoningWaardePopup>
        </div>
      </div>
      <div class="col-2">


      </div>
      <div class="col-3">
        <mogelijkheden v-if="!requestResponse"></mogelijkheden>
        <TjipResponse v-else></TjipResponse>
      </div>
      <div class="col-1"></div>
    </div>
    <div class="row">
      <div class="col-12"></div>
    </div>
    <div class="row buffer"  >
         
    </div>
    <div>
      <result></result>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
//import HelloWorld from "@/components/HelloWorld.vue";
import HotInvoer from "@/components/HotInvoer.vue";
import WoningWaardePopup from "@/components/WoningWaardePopup.vue";
import mogelijkheden from "@/components/mogelijkheden.vue";
import Nhg from "@/components/Nhg.vue";
import hypotheekdelen from "@/components/hypotheekdelen.vue";
import result from "@/components/result.vue";
import vorige from "@/components/vorige.vue";
import TjipResponse from "@/components/TjipResponse.vue";

export default {
  name: "home",
  components: {
    HotInvoer,
    WoningWaardePopup,
    mogelijkheden,
    Nhg,
    hypotheekdelen,
    result,
    vorige,
    TjipResponse
    //HelloWorld
  },
  computed: {
    pageValue(){
      return this.$store.getters.returnPageValue;
    },
    requestResponse(){
      return this.$store.getters.returnResponse;
    }
  },
  
};
</script>

<style scoped>

.buffer{
  height: 100px;
}

.previous{
  color: green;

}

.previous:hover{
  text-decoration: underline;
  cursor: pointer;
}
</style>